/*Principal*/
    html, body {
        margin: 0;
        padding: 0;
    }

    h1, h2, h3, h4, h5 {
        padding: 0;
        margin: 0;
    }



/*Topbar*/
    .header-icon {
        width: 290px;
        height: 41px;

    }

    .mail, .phone, .facebook, .twitter, .discord, .youtube {
        width: 40px;
        height: 41.14px;
        margin: 5px;
        padding: 0px;
    }

    .youtube {
        margin-right: 90px;
    }

    header {
        background: white;
        padding: 30px;
        width: 100%;
        display: block;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
        top: 0px;
        left: 0px;
        right: 0px;
    }

    header nav a {
        font-family: /*'Old Stamper Regular', 'Quantum', */'Lato';
        color: black;
        opacity: 50%;
        padding: 50px;
        text-decoration: none;
    }

    header nav a:hover {
        opacity: 100%;
        transition: all 1s;
    }



/*Abonnements*/
    .abonnements {
        text-align: center;
    }

    .abonnement1 {
        background-color: rgb(227, 224, 64);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: 2px solid rgb(145, 143, 41);
    }

    .abonnement2 {
        background-color: rgb(23, 150, 6);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: 2px solid rgb(17, 107, 5);
    }

    .abonnement3 {
        background-color: rgb(150, 6, 6);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: 2px solid rgb(107, 5, 5);
    }

    .abonnement4 {
        background-color: rgb(6, 133, 150);
        padding-top: 10px;
        padding-bottom: 10px;
        width: 1000px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border: 2px solid rgb(5, 87, 107);
    }